@charset "utf-8";
/* CSS Document */

.ytsll_wrap h3{
	font-size:14px;
	padding:3px;
	background-color:#e4dede;
	}

.ytsll_wrap h4{
	font-size:14px;
	padding:3px;
	background-color:#fff;
	}